#chart, #comments_chart {
//  font: 9px sans-serif;
  text-anchor: middle;
}
#container {
  padding-right: 100px;
}
#main, #footer {
  width: 1090px;
}
.response {
  border:0px;
  text-align:center;
}
/*Added '.label'*/
.rotate45, .q_label {

  /* Safari */
  -webkit-transform: rotate(-45deg);

  /* Firefox */
  -moz-transform: rotate(-45deg);

  /* IE */
  -ms-transform: rotate(-45deg);

  /* Opera */
  -o-transform: rotate(-45deg);

  /* Internet Explorer */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);

}

.axis { 
  font-family: "Arial", "Tahoma", sans-serif;
  font-size: .8em; 
  margin: 25px;
}
.page-reports-parallel-coordinate #chart { 
  height: 800px;
} 
#print_chart { 
  margin-top: 161px;
  margin-left: 90px;
}
canvas {
  padding-top: 161px;
  padding-left: 90px;
}
.page-reports-parallel-coordinate svg {  
  width: 800px;
  height: 800px;
}
