svg {
  
}

#chart {
  font: 9px sans-serif;
}

#chart text {
  background-color:rgba(26, 105, 105, 0.5);
}

#counties path {
  stroke: black;
  stroke-width: .5px;
}

#states path {
  fill: none;
  stroke: #fff;
  stroke-width: 1.5px;
}

.box { font: 10px sans-serif; }
.box line, .box rect, .box circle { stroke: #000; stroke-width: 1.5px; fill: #fff; }
.box .center { stroke-dasharray: 3 3; }
.box .outlier { stroke: #ccc; fill: none; }

#heatmap circle {
  fill-opacity: .7;
}

.hidden {
  visibility: hidden;
  max-height: 0px;
  max-width: 0px;
  overflow: hidden;
}
