.h-form  div.form-type-radios {
  float:left;
  margin-right: 10px;
}

.h-form  div.form-submit {
  margin: 1.5em 0px;
}

body.page-timeline div.form-item-variable{
  display:none;
}

#headline-page{
  display: block;
}