

/* /compare form */
#toewhiskers-compare-form  div.form-type-radios.form-item-theme,
#toewhiskers-compare-form  div.form-type-radios.form-item-impact,
#toewhiskers-compare-form  div.form-type-radios.form-item-descriptor{
  float: left;
  /*margin-right: 20px;*/
  width: 32%;
}


#toewhiskers-compare-form  div.form-type-radios.form-item-variable{
  clear:both;
}
#toewhiskers-compare-form .form-item-variable  #edit-variable {
  width: auto;
  max-width: none;
}

.h-form  div.form-type-radios {
  float:left;
  margin-right: 20px;
}

.h-form  div.form-submit {
  margin: 1.5em 0px;
}

/* /timeline form */
body.page-timeline #edit-narrow{
  display:none;
}
body.page-timeline div.form-item-variable{
  display:none;
}

#headline-page{
  display: block;
}

.page-timeline div.timeline-thumbnail {
  float: right;
}
.page-timeline div.timeline-thumbnail img{
  width: 105px;
  height: 105px;
}
